</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Designed by @ <a class "git" href="https://github.com/ManishRB21" target="_blank">ManishRB21</a>
    </p>
  </div>
</div>
</body>
</html>
